/*
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive;
*/

.container-fluid{
    padding: 7% 15%; /*top lr bottom*/
    margin:0;
}

.coloured-section{
    background-color: #f5ab00;
    color:#ffffff;
}

.white-section{
    background-color:#ffffff;
    color: #1F1F1F;
}

/* .lighter-section{ for footer maybe
    background-color: #FFCE5C;
    color:#1F1F1F;
} */

body{
    text-align:center;
    font-family: 'Poppins', sans-serif;
}

h6{
    line-height: 2rem;
    color: #1F1F1F;
}

/* Navigation Bar */

.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-size: 2rem;
    font-weight: 600;
}

.nav-item{
    padding:0 10px;
}

/* Title Section */

#title .container-fluid{
    padding:3% 15% 6%;
}

.title-text{
    font-family: 'Satisfy', cursive;
    font-size: 3.5rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.input-button{
    margin-top: 1.5rem;
}

/* Information */

#information{
    padding:5%;
    font-family: 'Merriweather', serif;
}

.info-column{
    padding:3% 2%;
}

.info-headings{
    font-weight:600;
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.card-body{
    line-height: 2rem;
}

/* Footer */

.footer{
    padding:4% 15%;
}

/* About Us */

#content{
    padding: 0 20px;
}

.about-me{
    padding: 3% 9%;
    line-height: 2rem;
    /* text-align: center; */
}

.about-us-images{
    border-radius: 100%;
    width: 45%;
    margin-bottom:5%;
}

.icons-links{
    color: #f5ab00;
    margin:15px;
}
.icons-links:hover{
    color: #FFCE5C;
}

/* Resources */
.resource-content{
    text-align: left;
    padding: 3% 15%;
}
@media (max-width:600px){
    .resource-content{
        text-align: center;
    }
}

.res-links{
    /* font-family: 'Merriweather', serif; */
    color: #1F1F1F;
    line-height: 2.5rem;
    /* font-size: 110%; */
}
.res-links:hover{
    color: #f5ab00;
    text-decoration: none;
}

/* Log In and Sign Up */

.details{
    padding: 3% 30%;
}

.bottom-text{
    color: #f5ab00;
}
.bottom-text:hover{
    color: #FFCE5C;
    text-decoration: none;
}
